/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
/* general */
img {
  max-height: 100%;
  max-width: 100%;
}

/* styling */
main {
  width: 1200px;
  max-width: 100%;
  margin: 2rem auto;
}


.loading {
  font-size: 40px;
  justify-content: center;
  align-items: center;
}




